$theme: "dark";

//gnome
// $red: #ee5396;
// $green: #42be65;
// $blue: #33b1ff;
// $yellow: #ffe97b;
// $magenta: #ff7eb6;
// $teal: #3ddbd9;
// $orange: #ffa348;

//charm
$red: #ee5396;
$green: #42be65;
$yellow: #ffe97b;
$blue: #33b1ff;
$magenta: #ff7eb6;
$teal: #3ddbd9;
$orange: #e79e64;

$bg_color: #161616;
$fg_color: #d0d0d0;
$hover_fg: #d0d0d0;
$accent_fg: #161616;
