* {
  font-family: "RobotoMono Nerd Font";
  font-weight: 500;
  outline: none;
}

window {
  margin: 0px;
  background-color: #1b1f28;
}

#input {
  padding: 4px;
  margin: 15px 15px 2px 15px;
  padding-left: 10px;
  padding-right: 10px;
  border: 0px;
  border-radius: 15px;
  color: #e0def4;
  background-color: #1b1f28;
  background: #2f333c;
}
#input:focus {
  border: none;
  margin-bottom: 0px;
}

#inner-box {
  padding: 10px 10px 10px 9px;
  margin: 8px;
  border: none;
  color: #e0def4;
  font-weight: regular;
  background-color: #1b1f28;
  border-radius: 15px;
}

#outer-box {
  margin: 0px;
  padding-top: 5px;
  border: 2px solid #e06b74;
  background-color: #1b1f28;
}

#scroll {
  margin-top: 5px;
  border: none;
  border-radius: 15px;
  margin-bottom: 5px;
  /* background: rgb(255,255,255); */
}

#text:selected {
  color: #1b1f28;
  padding: 9px;
  margin: 0px 0px;
  border: none;
}

#entry {
  padding-left: 9px;
  border: none;
  background-color: transparent;
}

#entry:selected {
  margin: 0;
  border: none;
  border-radius: 15px;
  background: linear-gradient(-70deg, #bf68d9, #e55561);
}
